---
title: Welcome
layout: default
---

<h1 class="homepage-title mobile-hide">Your source for open data in the Philadelphia region</h1>
<div class="homepage-description">
  <p>
    OpenDataPhilly is a catalog of open data in the Philadelphia region.
    In addition to being the official open data repository for the City, it includes data sets from many organizations in the region.
  </p>
</div>

<h3>Browse by Category</h3>

<div class="homepage-categories">
{% for category in site.data.categories %}
  {% if category.featured == true %}
    {% capture logo_alt %}{{ category.name }}{% if category.logo_credit and category.logo_credit != empty %} logo by {{ category.logo_credit }}{% endif %}{% endcapture %}
    <a href="{{ site.baseurl }}/datasets/?category={{ category.name | slugify }}" class="thumbnail" title="{{ logo_alt }}">
      {% if category.logo and category.logo != empty %}
        <img src="{{ site.baseurl }}{{ category.logo }}" alt="{{ logo_alt }}">
      {% endif %}
      {{ category.name }}
    </a>
  {% endif %}
{% endfor %}
</div>




</div>