<div class="mysoc-footer" role="contentinfo">
  <div class="page">
    <div class="row">

      <div class="col-sm-5">
        <img src="https://www.opendataphilly.org/img/odp-logo@2x.png" alt="OpenDataPhilly">
        
      </div>

      <div class="col-sm-4">
        <nav class="mysoc-footer__links">
          <ul>
            <li id="menu-item-20940" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20940"><a
                href="/datasets/">Datasets</a></li>
            <li id="menu-item-21111" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21111"><a
                href="/organizations/">Organizations</a></li>
            <li id="menu-item-20944" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20944"><a
                href="/about/">About</a></li>
            <li id="menu-item-20944" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20944"><a
                href="/resources/">Resources</a></li>
          </ul>
          <ul>
            <li id="menu-item-20979" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20979"><a
                href="/faq/">FAQ</a></li>
            <li id="menu-item-28489" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28489"><a
                href="/contact/">Contact</a></li>
            <li id="menu-item-21144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21144"><a
                href="/terms/">Terms</a></li>
          </ul>
        </nav>
      </div>

    </div>

    </div>
  </div>
</div>

<!-- TODO this is where google analytics was -->